<div class="outer">
  <div *ngIf="edit">
  <a *ngIf="!ask" href="javascript:void(0)" (click)="prompt()" >delete</a>
  <span *ngIf="ask"> Are you sure</span>
  <a *ngIf="ask" href="javascript:void(0)" (click)="deleteImg(true)" >yes</a>
  <a *ngIf="ask" href="javascript:void(0)" (click)="deleteImg(false)" >no</a>
</div>
  <nav><a routerLink="/dog/{{img.dog}}">
    <img [src]='img.imageLink' /></a>
  </nav>
  <mat-form-field *ngIf="edit">
    <input (input)="keyPress(true)"  matInput [(ngModel)]="img.imageLink"required>
    <mat-error >Link required</mat-error>
  </mat-form-field>
  <a *ngIf="!edit" href="javascript:void(0)" (click)="like()">&#1154; {{img.likedBy | imagePoints}} </a>
  <div class="tags">
    <span *ngFor='let tag of img.tags' (click)="tagClick(tag)" class="tag">
      {{tag}}
    </span>
  </div>
</div>
