span{
  display: inline;
}
tags{
  float: left;
}
.tag:hover{
  cursor: pointer;
  color: cornflowerblue;
}
.like{
  background-color: var(--background);
  padding: 10px;
  border-radius: 40%;
  box-shadow: 1px 1px 4px black;
  text-decoration: none;
  color: var(--link);
}
.like:hover{
  background-color: #304D6D;
  color: cornflowerblue;
  cursor: pointer;
}

div.outer{
  border-radius: 10px;
  background-color: #BFD0E0;
  display: inline-block;
  text-align: center;
  padding: 7px;
}
img{
  width: 260px;
  max-height: 300px;
  border-radius: 5px;
}
.edit>a{
  text-decoration: none;

  color: #402F1F;
}
.edit>a:hover{
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 420px) {}
