<div style="text-align: right"></div>
<div *ngIf="!loggedIn" style="text-align: right"><a  routerLink="/login" >Log in</a></div>
<div *ngIf="loggedIn" style="text-align: right">Hello, {{name}} <a routerLink="/ratedogs" (click)="logOut()">Log out</a></div>
<h1>
  {{title}}
</h1>
<nav>
  <a *ngIf="!loggedIn" routerLink="/login">My Dogs</a>
  <a *ngIf="loggedIn" routerLink="/mydogs">My Dogs</a>
  <a routerLink="/ratedogs">Rate Dogs</a>
  <a routerLink="/otherdogs">Other Dogs</a>
</nav>
<router-outlet></router-outlet>
