<div class="outer">
  <div class="inner">
    <div *ngIf="dogs">
      <div class="name" routerLink="/dog/{{dogs[currDog].uuid}}">
        <h1 class="name">{{dogs[currDog].name}}</h1>
        <div class="imgHolder">
          <img [src]='dogs[currDog].images[currImg].imageLink' />
        </div>
      </div>


      <div class="likebar">
        <div class="spacer"></div>
        <span (click)="like()" class="like"> &#1154;{{dogs[currDog].images|dogPoints}}</span>
        <button [disabled]="currDog==dogs.length-1" (click)="next()"  mat-raised-button>Skip</button>
      </div>
      <div class="info">
        <span *ngFor='let tag of dogs[currDog].images[currImg].tags' (click)="tagClick(tag)" class="tag">
          {{tag}}
        </span>
        <div>Age: {{dogs[currDog].birthday|age}} | {{dogs[currDog].gender | genderPipe}} | {{dogs[currDog].breed}}</div>
      </div>
    </div>
  </div>
</div>
